/* Navbar.css */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    text-align: center;
    background-color: black;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    width: 100vw;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
  }
  
  .navbar-logo img {
    width: 50px; /* Adjust the width of the logo as needed */
    height: auto;
  }
  
  .navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 20px; /* Adjust the spacing between navigation links as needed */
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    
  }
  
  .navbar-buttons .login-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  /* Add additional styles as needed */
  